[Unit]
Description=DILS backend service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/dils
ExecStart=/root/dils/bin/dils

[Install]
WantedBy=multi-user.target
